
#representacio div {
  padding-left: 10px;
}

.slider {
  width: 350px;
  height: 10px;
}

body {
    font-family: DroidSans, Arial, Helvetica, sans-serif;
    padding-top: 60px;
}

@media screen and (max-width: 768px) {
    body { padding-top: 80px; }
}


.navbar-hightool {
  background: #E20020;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding-left: 0px;
}

.navbar-hightool .open .dropdown-menu {
  background-color: white;
}

.navbar-hightool .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-hightool .navbar-brand, .navbar-hightool .navbar-brand:hover, .navbar-hightool .navbar-brand:focus, .navbar-hightool .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.navbar-hightool .navbar-toggle:hover,  .navbar-hightool .navbar-toggle:focus {
  background-color: #E20020;
}

.navbar-hightool .navbar-nav > li > a:hover, .navbar-hightool .navbar-nav > li > a:focus {
  color: white;
}

.navbar-hightool .navbar-nav > .activePackageType {
  /*border-bottom: 3px solid white;*/
}

.navbar-hightool .navbar-nav > .open > a:hover {
  color: white;
}

.navbar-hightool .navbar-nav > .open > a:focus, .navbar-hightool .navbar-nav > .open > a {
  color: #E20020;
  font-weight: bold;
}

.inactiveCont {
  display: none;
}


.policyValue {
  width: 50px;
}

.tab-content {
  padding: 10px 10px 10px 10px;
}

/* Chart */


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke-dasharray: 3,3;
}

.y.axis path {

}

.y.axis line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.line {
  fill: none;
  stroke: #E20020;
  stroke-width: 1.5px;
}


div.tooltipGraphEditor {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.policyList {
  height: 45px;
  display: inline-block;
}

ul.policyListContainer li {
  list-style-type: none;
  padding: 0px;
  height: 58px;
}

ul.policyListContainer {
  list-style-type: none;
  padding: 0px;
}

.policyItemHelp {
  display: inline-block;
  width: 20px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;
}

.policyItemShortTitle {
  display: inline-block;
  width: 120px;
  overflow: hidden;
  vertical-align: middle;
  height: 20px;

}

#loginForm {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#content .carousel-indicators {
  bottom: 0px;
}

#content .carousel-caption {
  padding-bottom: 5px;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  }


.header-background {
  height: 100px;
  background: url("../images/header.png") no-repeat left;
  margin-bottom: 15px;
  padding-top: 49px;
  color: white;
}

.modal-header {
  background-color: #e20020;
  color: white;
}

.btn-custom { background-color: hsl(0, 100%, 37%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#db0000", endColorstr="#bc0000"); background-image: -khtml-gradient(linear, left top, left bottom, from(#db0000), to(#bc0000)); background-image: -moz-linear-gradient(top, #db0000, #bc0000); background-image: -ms-linear-gradient(top, #db0000, #bc0000); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db0000), color-stop(100%, #bc0000)); background-image: -webkit-linear-gradient(top, #db0000, #bc0000); background-image: -o-linear-gradient(top, #db0000, #bc0000); background-image: linear-gradient(#db0000, #bc0000); border-color: #bc0000 #bc0000 hsl(0, 100%, 35.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09); -webkit-font-smoothing: antialiased; }

.family-pagination {
  margin: 0px;
}

.family-pagination > .active > a, .family-pagination > .active > span, .family-pagination > .active > a:hover, .family-pagination > .active > span:hover, .family-pagination > .active > a:focus, .family-pagination > .active > span:focus {
    background: none;
    border: none;
    color: #E20020;
    font-weight: bold;
}

.family-pagination > li > a, .family-pagination > li > span {
  color: black;
  border: none;
}

#containerLegendMapEditor {
  text-align: center;
}

.svg-hypernet-territory-nuts0 {
  stroke : #fff;
  stroke-width : 0;
  opacity : 1;
  fill : #E6E6E6;
}

.svg-hypernet-borders-nuts0, .svg-hypernet-borders-nuts2 {
  fill: none;
  stroke: #848484;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
  stroke-width: 1.4px;
}

.svg-hypernet-borders-nuts2 {
  stroke: #848484;
  stroke-width: 0.5px;
}

.svg-hypernet-hidden {
  visibility: collapse;
}

.svg-hypernet-edge {
  fill: none;
  stroke: #000;
  stroke-width: 0.9px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.svg-hypernet-edge:hover {
  stroke: #E20020;
}


.svg-hypernet-node {
  fill: #333;
}

.svg-hypernet-node:hover {
  fill: #E20020;
}

.svg-hypernet-edited {
  fill: #E20020;
  stroke: #E20020;
}

.svg-nuts0-borders {
  fill: none;
  stroke: #000;
  stroke-width: 1.4px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.svg-nuts2-borders {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.svg-region-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.region-active {
  stroke: #000;
  stroke-width: 1.2px;
}

.baseline-value {
  background-color: #E6E6FA;
  text-align: center;
}

.projection-composition-borders {
  fill : none;
  stroke : #000;
  stroke-dasharray: 3 3;
}

/* SPINER */
.glyphicon-refresh-animate {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* LOGIN FORM*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**
 * Responsive SVG classes
 */
.svg-container, .svg-container-maps {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-container-maps {
  padding-bottom: 0px;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


/* SLIDERS */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 2.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0.5px #000000, 0px 0px 0.4px #0d0d0d;
  background: #e5e5e5;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f4f4f4;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0.4px 0.4px 0.5px #000000, 0px 0px 0.4px #0d0d0d;
  background: #e5e5e5;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d6d6d6;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.4px 0.4px 0.5px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #e5e5e5;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0.4px 0.4px 0.5px #000000, 0px 0px 0.4px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e5e5e5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f4f4f4;
}

input[type=range].tpm-slider {
    width: 150px;
}

/* Styles of TPM levers based in selected/no-selected */
.selected-lever {
  background-color: #F5F5F5;
}

.no-selected-lever {

}


/* Run's list styles */
.active-run {
  background-color: #e5ffee;
}

.deviation-bars {
  background: url(../images/black_pixel.png) repeat-y center;
  width: 121px;
  padding-left: 0;
  padding-right: 0;
}

.deviation-bars td {
  width: 60px;
  overflow: hidden;
}

.deviation-bars span {
  background-color: #ddd;
  display: inline-block;
  max-width: 45px;
  overflow: hidden;
}

.edited-lever {
  color : red;
}
