<div>
  <div class="row">
    <h2>Users administration</h2>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="addUser()">Create user</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th style="width: 40px">Id</th>
        <th>E-mail</th>
        <th>Name</th>
        <th style="width: 100px">Administrator</th>
        <th style="width: 120px">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in userList">
          <th>{{user.id}}</th>
          <td><input type="text" style="display: inline-block; width: 100%; border: none;" ng-change="edited($index)" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }"></td>
          <td><input type="text" style="display: inline-block; width: 100%; border: none;" ng-change="edited($index)" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }"></td>
          <td style="text-align: center">
            <div  class="btn-group btn-group-sm">
              <button ng-show="user.isAdmin" class="btn btn-default" title="Remove administration privileges" aria-label="Remove administration privileges" ng-click="setAdmin($index, false)">
                <span class="glyphicon glyphicon-star"></span>
              </button>
              <button ng-hide="user.isAdmin" class="btn btn-default" title="Remove administration privileges" aria-label="Remove administration privileges" ng-click="setAdmin($index, true)">
                <span class="glyphicon glyphicon glyphicon-star-empty"></span>
              </button>
            </div>
          </td>
          <td>
            <div  class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Change password" aria-label="Change password" ng-click="changePassword($index)">
                <span class="glyphicon glyphicon-lock"></span>
              </button>
              <button class="btn btn-default" title="Save changes" aria-label="Save Changes" ng-disabled="!user.edited" ng-click="updateUser($index)">
                <span class="glyphicon glyphicon-floppy-save"></span>
              </button>
              <button class="btn btn-default" title="Delete user" aria-label="Delete user" ng-hide="userId === user.id" ng-click="deleteUser($index)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
