<hypernetwork-map class="col-md-8"></hypernetwork-map>
<div class="col-md-4">
  <h3 style="margin-top: 0px; ">Actions</h3>
  <div class="col-md-12" style="padding-bottom: 15px;">
    <button class="btn btn-default" ng-click="saveGraph()" ng-disabled="disableSave">Save</button>
    <button class="btn btn-default" ng-click="resetAll()">Reset all</button>
    <button class="btn btn-default" ng-show="selectedEdge || selectedNode" ng-click="resetSelected()">Reset selected</button>
  </div>
  <div class="col-md-12">
    <uib-alert ng-hide="selectedEdge || selectedNode" class="alert alert-info">Select an edge or node to edit it.</uib-alert>
  </div>
  <div ng-show="selectedEdge">
    <h3>Selected Edge ({{yearsNodes[0]}} data)</h3>
    <div class="col-md-6" ng-repeat="key in ['source', 'target']">
      <p>
        <strong>{{key | capitalizeFirst}}: </strong> {{graph.nodesHash[selectedEdge[key]].label}} <span style="font-size: 0.9em">({{selectedEdge[key]}})</span>
      </p>
    </div>
    <div class="col-md-6" ng-repeat="key in ['i_pd_link_time', 'i_pd_link_dist']">
      <p>
        <strong>{{variablesDict[key].name | capitalizeFirst}}: </strong>{{selectedEdge.metadata[yearsEdges[0]][key]}} {{variablesDict[key].unit}}
      </p>
    </div>
    <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <thead>
        <tr>
        <th style="width: 60px;">Year</th>
        <th style="width: 85px;" ng-repeat="key in metadataKeysEdges">
          {{variablesDict[key].name}}
          <button style="border: none; background-color: transparent;" uib-popover="{{variablesDict[key].description}}" popover-trigger="mouseenter" popover-placement="bottom" popover-title="{{variablesDict[key].id}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="year in yearsEdges">
          <td>{{year}}</td>
          <td ng-repeat="key in metadataKeysEdges">
            <input style="width: 70px;" type="number" step="0.01" ng-model="selectedEdge.metadata[year][key]" ng-change="markEdited('edge', selectedEdge)"></input>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-show="selectedNode">
    <h3>Selected Node ({{yearsNodes[0]}} data)</h3>
    <div class="col-md-12">
      <p>
        <strong>Capital: </strong> {{selectedNode.label}} <span style="font-size: 0.9em">({{selectedNode.id}})</span>
      </p>
    </div>
    <div class="col-md-6" ng-repeat="key in ['i_pd_ae_time', 'i_pd_ae_dist']">
      <p>
        <strong>{{variablesDict[key].name | capitalizeFirst}}: </strong>{{selectedNode.metadata.years[yearsEdges[0]][key]}} {{variablesDict[key].unit}}
      </p>
    </div>
    <table class="table" style="table-layout: fixed; word-wrap: break-word;">
      <thead>
        <tr>
        <th style="width: 60px;">Year</th>
        <th style="width: 85px;" ng-repeat="key in metadataKeysNodes">
          {{variablesDict[key].name}}
          <button style="border: none; background-color: transparent;" uib-popover="{{variablesDict[key].description}}" popover-trigger="mouseenter" popover-placement="bottom" popover-title="{{variablesDict[key].id}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="year in yearsNodes">
          <td>{{year}}</td>
          <td ng-repeat="key in metadataKeysNodes">
            <input style="width: 70px;" type="number" step="0.01" ng-model="selectedNode.metadata.years[year][key]" ng-change="markEdited('node', selectedNode)"></input>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
