<div id="container-maps">
  <!-- Map and distribution -->
  <div class="col-md-8">
    <!-- Controls -->
    <div class="row" style="vertical-align: middle;">
      <div class="col-md-4">
      Map:
      <select class="form-control" name="zoomLevel"
        ng-show="::(editable === true)"
        ng-disabled="editingCountryTime || disableNUTS2"
        ng-options="nuts.label.toUpperCase() for nuts in nutsLevels track by nuts.id"
        ng-model="zoomLevel"
        ng-change="zoomOut()">
      </select>
      </div>
      <div class="col-md-8">
        <span ng-show="::(editable === true)">Distribution:</span>
        <select ng-show="::(editable === true)" ng-disabled="editingCountryTime" ng-model="selectedSpread" ng-options="spread.name for spread in allowedSpreads" class="form-control">
        </select>
      </div>
    </div>
    <!-- End controls -->
    <!-- Maps -->
    <div class="row">
      <button id="loading-maps-spinner" class="btn btn-lg btn-warning" style="position: relative; top: 150px; left: 200px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
      <div id="containerUserMap">
        <div id="containerUserZoom0" class="svg-container-maps" ng-show="(zoomLevel.id === 0) && !editingCountryTime"></div>
        <div id="containerUserZoom1" class="svg-container-maps" ng-show="(zoomLevel.id === 1) && !editingCountryTime"></div>
        <div  time-editor
              editable="editable"
              baseline-data="baselineData"
              range="range"
              factor="{{factor}}"
              ng-model="timeSeries"
              terminal-value="terminalValue"
              ng-show="editingCountryTime">
        </div>
      </div>
    </div>
    <!-- End maps -->
  </div>
  <!-- End of map and distribution -->
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">2050 value for {{selectedRegion.name}}</th>
        </tr>
      </thead>
      <tbody>
          <td><span ng-hide="editingCountryTime">Your input</span>&nbsp;</td>
          <td ng-show="::(editable === true)">
            <input type="number" style="width: 100px;"
                    ng-hide="editingCountryTime"
                    min="{{minValue}}"
                    max="{{maxValue}}"
                    step="{{stepSize}}"
                    ng-model="currentUserVal"
                    ng-change="updateUserValCallback(currentUserVal)"
                    ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"></input>
          </td>
          <td ng-hide="::(editable === true)">{{factor * valuesSelectedRegion.user | roundNumber}}</td>
        </tr>
        <tr ng-hide="centeredUser === null || editingCountryTime">
          <th colspan="2">Region options</th>
        </tr>
        <tr>
          <td colspan="2" ng-hide="centeredUser === null || editingCountryTime">
            <button class="btn btn-default" ng-click="zoomOut()">Zoom out</button>
            <button class="btn btn-default" ng-click="toggleEditCountryTime()"><span class="glyphicon glyphicon-time"></span></button>
          </td>
        </tr>
        <tr ng-show="editingCountryTime">
          <th colspan="2">Time path</th>
        </tr>
        <tr>
          <td colspan="2">
            <button class="btn btn-default" ng-click="setTrajectory()" ng-show="editingCountryTime && editable">Set</button>
            <button class="btn btn-default" ng-click="resetTrajectory()" ng-show="editingCountryTime && editable">Reset to EU28</button>
            <button class="btn btn-default" ng-click="toggleEditCountryTime()" ng-show="editingCountryTime">Done</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="containerLegendMapEditor">
      <h4>Legend</h4>
    </div>
  </div>
  <div id="tooltipD3Map" class="popover fade in right" role="tooltip">
    <div class="arrow" style="top: 50%;"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
  </div>
</div>
