<div class="modal-header" id="modalTimeEditor">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body container-fluid">
  <modal-shift width='100' height='70' data='data'>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Close</button>
</div>
