<div class="modal-header hightTool-header" id="modalLoadPackage">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body">
  <alert ng-hide="packageList.length">No available files or packages.</alert>
  <table class="table" ng-show="packageList.length">
    <thead>
    <tr>
      <th>Available packages:</th>
      <th>Type:</th>
      <th>Author:</th>
      <th>Date:</th>
      <th>
        <button style="border: none; background-color: transparent;">
          <span class="glyphicon glyphicon-info-sign"></span>
        </button>
      </th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="package in packageList" ng-click="toggleSelectedPackage($index)" ng-class="{active : isSelected($index)}" style="cursor: pointer;">
        <td>{{package.label}}</td>
        <td>{{package.type}}</td>
        <td>{{package.owner.name}}</td>
        <td>{{package.updatedAt | date : 'd MMM y HH:mm:ss'}}</td>
        <td>
          <div  ng-show="package.abstract.length"
                popover-trigger="mouseenter"
                popover-title="Abstract"
                uib-popover-html="package.abstract"
                popover-placement="left">
            <button style="border: none; background-color: transparent;">
              <span class="glyphicon glyphicon-info-sign"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="options && options.length">
    <h4>Options</h4>
    <label ng-repeat="option in options">
      <input type="checkbox" ng-model="option.value">
      <span>{{option.label}}</span>
    </label>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Select</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
