<div class="modal-header" ng-switch on="::(editable === true)">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 ng-switch-when="true" class="modal-title">Edit spatial distribution of policy intensity for {{::schemaObject.label | lowercase}}</h4>
  <h4 ng-switch-default class="modal-title">View distribution across Europe</h4>
</div>
<div class="modal-body container-fluid" style="padding-bottom: 0px;">
  <div  map-editor
        policy="{{node.uuid}}"
        editable="{{editable}}"
        terminal-value="{{terminalValue}}"
        start-year="{{startYear}}">
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-show="editable-map == true" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">{{(editable ? 'Cancel' : 'Close')}}</button>
</div>
