<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Add a server
  </h4>
</div>
<form role="form" style="max-width: 900px">
  <div class="modal-body">
    <div class="form-group">
      <label for="inputHost">Host</label>
      <input ng-model="newServer.host" type="text" name="inputHost" class="form-control" placeholder="Host ip or qualified name" required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPort">Port</label>
      <input ng-model="newServer.port" type="text" name="inputPort" class="form-control" placeholder="Port">
    </div>
    <div class="form-group">
      <label for="inputDescription">Password</label>
      <input ng-model="newServer.description" type="text" name="inputDescription" class="form-control" placeholder="Server description" required>
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" ng-click="addServer()" class="btn btn-default">Add</button>
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
