<div class="modal-header hightTool-header" id="modalLoadPackage">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    {{title}}
  </h4>
</div>
<div class="modal-body">
  <h4>Title:</h4>
  <input style="width: 100%" type="text" ng-model="runOptions.label"></input>
  <h4>Headline:</h4>
  <input style="width: 100%" type="text" ng-model="runOptions.headline"></input>
  <h4>Abstract:</h4>
  <textarea ui-tinymce style="width: 100%; height: 164px;" ng-model="runOptions.abstract"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">{{okButtonText}}</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
