<div class="modal-header" id="modalTimeEditor">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit time path
  </h4>
</div>
<div class="modal-body container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Year
            <button style="border: none;  background-color: transparent;" type="button" ng-click="checkAndReorder()">
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
            </button>
          </th>
          <th>Value</th>
          <th>
            <button style="border: none;  background-color: transparent;" type="button" ng-click="addPoint()">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="point in timeNodes">
          <td ng-hide="point[0] === 2010 || point[0] === 2050"><input style="width: 5em;" ng-model="point[0]"></input></td>
          <td ng-show="point[0] === 2010 || point[0] === 2050">{{point[0]}}</td>
          <td><input style="width: 5em;" type="number" step="0.01" ng-model="point[1]"></input></td>
          <td>
            <button style="border: none;  background-color: transparent;" type="button" ng-hide="point[0] === 2010 || point[0] === 2050" ng-click="deletePoint($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-click="checkAndReorder()">Validate list</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
