<div class="modal-header" id="modalTimeEditor">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit time path for {{::schemaObject.label | lowercase}}
  </h4>
</div>
<div class="modal-body container-fluid">
  <div>Click the canvas to add or select points</div>
  <div id="canvas" time-editor
    editable="editable"
    baseline-data="baselineData"
    range="range"
    factor="{{factor}}"
    ng-model="timeSeries"
    terminal-value="terminalValue"></div>
  <div id="legendTime" style="text-align: center">
    <h4>Legend</h4>
    <span class="circle" style="background-color: #E20020"></span> User's time path
    <span class="circle" style="background-color: grey; margin-left: 20px;"></span> Suggested time path
  </div>
  <div style="height: 30px; padding: 10px 10px;">
    <div ng-repeat="point in nodeController.nodes" ng-show="(selected_node_index === $index)">
      <p>Move the slider to modify the slope of the curve at the selected point:</p>
      <input class="policySlider" type="range" min="-1" max="1" step="0.1"  ng-change="updatePoint()" ng-model="point[2]"/> Slope: {{point[2] | number:2}}
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-show="editable" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-show="editable" ng-click="reset()">Reset</button>
    <button class="btn btn-default" ng-click="cancel()">{{(editable ? 'Cancel' : 'Close')}}</button>
</div>
