<div class="modal-header highTool-header" id="modalNewPackage">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    {{modalTitle}}
  </h4>
</div>
<div class="modal-body">
  <h4>Filename:</h4>
  <input type="text" ng-model="label" placeholder="Filename..."></input>
  <h4>Headline:</h4>
  <input style="width: 100%" type="text" ng-model="headline"></input>
  <h4>Abstract:</h4>
  <textarea ui-tinymce style="width: 100%; height: 164px;" ng-model="abstract"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
