<div class="modal-header" id="modalTimeEditor">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Change password for user {{user.name}}
  </h4>
</div>
<div class="modal-body container-fluid">
  <div>
    <p>Write the new password:</p> 
    <p>
      <input type="password" ng-model="password" />
      <span class="glyphicon glyphicon-ok" style="color: green" ng-show="validatePassword(password)"></span>
      <span class="glyphicon glyphicon-remove" style="color: red" ng-hide="validatePassword(password)">Invalid password</span>
    </p>
    <div>
      Password must:
        <ul>
          <li>Have at least 8 characters</li>
        </ul>
    </div>
  </div>
  <div>
    <p>Confirm the new password:</p>
    <p>
      <input type="password" ng-model="confirmPassword" />
      <span class="glyphicon glyphicon-ok" style="color: green" ng-show="password === confirmPassword"></span>
      <span class="glyphicon glyphicon-remove" style="color: red" ng-hide="password === confirmPassword"> Passwords do not match</span>
    </p>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="ok()" ng-disabled="(password !== confirmPassword) && validatePassword(password)">Save</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
