<div class="modal-header" id="modalTimeEditor">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Create a new user
  </h4>
</div>
<form class="form-signin" style="max-width: 900px" ng-submit="ok($event)">
  <div class="modal-body container-fluid">
    <div class="row" style="margin-bottom: 20px">
      <label for="inputName" class="sr-only">Name</label>
      <input ng-model="name" type="text" name="inputName" class="form-control" placeholder="User's name" required autofocus>
      
      <label for="inputEmail" class="sr-only">Email address</label>
      <input ng-model="email" type="email" name="inputEmail" class="form-control" placeholder="Email address" required>
    </div>
    <div class="row">
      <label for="inputPassword" class="sr-only">Password</label>
      <input ng-model="password" type="password" name="inputPassword" class="form-control" placeholder="Password" required>

      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input ng-model="confirmPassword" type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" required>
    </div>
    <div class="row">
      <alert type="danger" ng-show="!validatePassword(password) || (password !== confirmPassword)">
        <ul class="row">
          <li ng-hide="validatePassword(password)"><emph>Invalid password:</emph> The password must be 8 characters long.</li>
          <li ng-hide="password === confirmPassword"><emph>Passwords do not match.</emph></li>
        </ul>
      </alert>
    </div>
  </div>
  <div class="modal-footer">
      <input type="submit" value="Create a new user" class="btn btn-default" ng-disabled="(password !== confirmPassword) && validatePassword(password)" />
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</form>
