<td>
  <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover="{{::schemaObject.description}}" popover-title="{{::schemaObject.label}}">
    <span class="glyphicon glyphicon-question-sign"></span>
  </button>
  <strong ng-bind-html="::schemaObject.shortLabel"></strong>
</td>
<td>
  <span>{{::schemaObject.min | number}}</span>
</td>
<td>
  <button class="hidden-sm hidden-md hidden-lg" style="border: none;  background-color: transparent;" type="button" ng-click="decreaseValue()">
    <span class="glyphicon glyphicon-minus"></span>
  </button>
  <button class="hidden-sm hidden-md hidden-lg" style="border: none;  background-color: transparent;" type="button" ng-click="increaseValue()">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <input class="hidden-xs" type="range" step="{{::((schemaObject.max - schemaObject.min)/20).toFixed(6)}}" min="{{::schemaObject.min}}" max="{{::schemaObject.max}}" ng-model="policyValue" />
</td>
<td>
  <span>{{::schemaObject.max | number}}</span>
</td>
<td>
  <span class="circle" style="margin-right: 10px;" ng-style="{'background-color': gradient}"></span>
</td>
<td>
  {{policyValue | number}}
</td>
<td class="baseline-value">
  {{::schemaObject.baseline | number}}
</td>
<td ng-bind-html="::schemaObject.unit">
</td>
<td>
  <button style="border: none;  background-color: transparent;" type="button" ng-click="showTimeEditor()">
    <span class="glyphicon glyphicon-time"></span>
  </button>
</td>
<td>
  <button ng-show="showMapIcon" style="border: none;  background-color: transparent;" type="button" ng-click="showSpatialEditor()">
    <span class="glyphicon glyphicon-picture"></span>
  </button>
</td>
