<nav ng-controller="userNavCtrl" class="navbar navbar-default navbar-fixed-top navbar-hightool" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="authenticated.main">HIGH-TOOL</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav" ng-show="state.includes('authenticated')">
        <li class="dropdown" uib-dropdown ng-show="authenticated()" ng-class="{activePackageType: showItemByType('framework')}">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" uib-dropdown-toggle>Framework Conditions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="authenticated.viewReference">See Baseline EU Reference Scenario 2013</a></li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown ng-class="{activePackageType: showItemByType('policy')}">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" uib-dropdown-toggle>Policies <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="authenticated.packageEditor.defineSingleTPM">Define a Single Transport Policy Measure (TPM)</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.packageEditor.combined({packageId: 'new'})">Define a Combined TPM package</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.packageEditor.custom({ packageId: 'new' })">Define a Customised Policy package</a></li>
            <li class="divider"></li>
            <li><a style="cursor: pointer" ng-click="loadPackage('policy')">Load a policy package</a></li>
            <li><a style="cursor: pointer" ng-click="deletePackage('policy')">Delete a policy package</a></li>
            <li class="divider" ng-show="state.includes('authenticated.packageEditor.policy')"></li>
            <li><a style="cursor: pointer" ng-show="state.includes('authenticated.packageEditor') && !isNewPackage()" ng-click="updatePackage()">Save</a></li>
            <li><a style="cursor: pointer" ng-show="state.includes('authenticated.packageEditor')" ng-click="saveNewPackage()">Save as a new policy measure</a></li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown ng-class="{activePackageType: showItemByType('run')}">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" uib-dropdown-toggle>Run <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="authenticated.modelRuns">View and manage model's runs</a></li>
            <li class="divider"></li>
            <li><a style="cursor: pointer" ng-click="readyForExpertMode()">Packages ready for Expert Mode</a></li>
            <li class="divider"></li>
            <li><a style="cursor: pointer" ng-click="runPackage('policy')">Run a Policy Package</a></li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown ng-class="{activePackageType: showItemByType('output')}">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" uib-dropdown-toggle>Outputs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a style="cursor: pointer" ng-click="loadOutput()">View outputs of complete model runs</a></li>
          </ul>
        </li>
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" uib-dropdown-toggle>Export <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="authenticated.export.tables">Export Tables from Databases</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="state.includes('authenticated')">
        <li class="dropdown" uib-dropdown>
          <a class="dropdown-toggle" uib-dropdown-toggle role="button" aria-expanded="false">Hi, {{userClaims.name}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a style="cursor: pointer" ng-click="logout()">Log Out</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.admin.users">Users administration</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.settings.modules">HIGH-TOOL Modules</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.main">About</a></li>
            <li><a ui-sref="authenticated.instructions">Instructions</a></li>
            <li class="divider"></li>
            <li><a ui-sref="authenticated.settings.owndata">Modify your data</a></li>
            <li class="divider"></li>
            <li><a>Version {{VERSION_NUMBER}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
