<tr ng-class="{'selected-lever' : (allowSelect && usePolicy), 'no-selected-lever' : (allowSelect && !usePolicy)}">
  <td ng-show="allowSelect">
    <input type="checkbox" ng-model="usePolicy" ng-change="changeUsePolicyCb(usePolicy)"></input>
  </td>
  <td>
    <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{::schemaObject.description}}" popover-title="{{::schemaObject.shortLabel}}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
    <strong ng-bind-html="::schemaObject.label"></strong>
  </td>
  <td>
    <input  style="width: 75px;" type="number" min="2015" max="2050" step="5"
            ng-show="editable"
            ng-model="startYear"
            ng-change="editeYearcb(startYear)"
            ng-disabled="allowSelect && !usePolicy"></input>
    <span ng-hide="editable">{{startYear}}</span>
  </td>
  <td>
    <span>{{::minValue | roundNumber}}</span>
  </td>
  <td ng-show="editable">
    <button class="hidden-lg" style="border: none;  background-color: transparent;" type="button"
      ng-click="decreaseValue()"
      ng-disabled="allowSelect && !usePolicy">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button class="hidden-lg" style="border: none;  background-color: transparent;" type="button"
      ng-click="increaseValue()"
      ng-disabled="allowSelect && !usePolicy">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <input type="range" class="tpm-slider visible-lg"
      ng-model="userValue"
      ng-change="userValueCb(userValue)"
      ng-disabled="allowSelect && !usePolicy">
    </input>

  </td>
  <td>
    <span>{{::maxValue | roundNumber}}</span>
  </td>
  <td>
    <span class="circle" style="margin-right: 10px;" ng-style="{'background-color': gradient}"></span>
  </td>
  <td style="width: 5em;">
    <input  style="width: 5em;" type="number"
            min="{{minValue}}" max="{{maxValue}}" step="{{stepSize}}"
            ng-show="editable" ng-model="userValue" ng-change="userValueCb(userValue)"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
            ng-disabled="allowSelect && !usePolicy"></input>
    <span ng-hide="editable">{{userValue}}</span>
  </td>
  <td class="deviation-bars" style="padding-left: 0px; padding-right: 0px;">
    <tpm-row-deviation-bars ng-model="userValue" schema-object="schemaObject">
    </tpm-row-deviation-bars>
  </td>
  <td ng-bind-html="::schemaObject.unit">
  </td>
  <td ng-show="editable">
    <button style="border: none;  background-color: transparent;" type="button"
            ng-click="resetLever()"
            ng-disabled="allowSelect && !usePolicy">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </td>
  <td>
    <button style="border: none;  background-color: transparent;" type="button"
            ng-show="editable"
            ng-hide="{{::hideTime}}"
            ng-click="showManualTimeEditor()"
            ng-disabled="allowSelect && !usePolicy"
            ng-class="{'edited-lever' : editedTimeSeries}">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button style="border: none;  background-color: transparent;" type="button"
            ng-click="showTrajectoryEditor()"
            ng-disabled="allowSelect && !usePolicy"
            ng-hide="{{::hideTime}}"
            ng-class="{'edited-lever' : editedTimeSeries}">
      <span class="glyphicon glyphicon-time"></span>
    </button>
  </td>
  <td>
    <button style="border: none;  background-color: transparent;" type="button"
            ng-click="showMapEditor()"
            ng-hide="{{::hideSpatial}}"
            ng-disabled="allowSelect && !usePolicy"
            ng-class="{'edited-lever' : editedMap}">
      <span class="glyphicon glyphicon-picture"></span>
    </button>
  </td>
</tr>
