<td>
  <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" popover="{{::schemaObject.description}}" popover-title="{{::schemaObject.shortLabel}}">
    <span class="glyphicon glyphicon-question-sign"></span>
  </button>
  <strong ng-bind-html="::schemaObject.label"></strong>
</td>
<td>
  <span>{{::schemaObject.min * 100 | roundNumber}}</span>
</td>
<td>
  <span>{{::schemaObject.max * 100 | roundNumber}}</span>
</td>
<td>
  {{policyValue.terminalValue * 100 | roundNumber}}
</td>
<td>
  <span class="circle" style="margin-right: 10px;" ng-style="{'background-color': gradient}"></span>
</td>
<td>
  {{policyValue.startYear}}
</td>
<td class="deviation-bars" style="padding-left: 0px; padding-right: 0px;">
  <table>
    <tr>
      <td style="text-align: right;">
        <span ng-show="policyValue < schemaObject.baseline" ng-style="{width : (Math.min(-(policyValue / schemaObject.baseline - 1) * 100, 20) * 45 / 20) + 'px'}">&nbsp;</span>
      </td>
      <td style="width: 1px;"></td>
      <td style="text-align: left;">
        <span ng-show="policyValue > schemaObject.baseline" ng-style="{width : (Math.min((policyValue / schemaObject.baseline - 1) * 100, 20) * 45 / 20) + 'px'}">&nbsp;</span>
      </td>
    </tr>
  </table>
</td>
<td ng-bind-html="::schemaObject.unit">
</td>
<td>
  <button style="border: none;  background-color: transparent;" type="button" ng-click="showTimeEditor()" ng-hide="{{::hideTime}}">
    <span class="glyphicon glyphicon-time"></span>
  </button>
</td>
<td>
  <button style="border: none;  background-color: transparent;" type="button" ng-click="showSpatialEditor()" ng-hide="{{::hideSpatial}}">
    <span class="glyphicon glyphicon-picture"></span>
  </button>
</td>
