<uib-alert ng-hide="data">{{::waitingMsg}}</uib-alert>
<div class="panel panel-default" ng-show="data">
   <div class="panel-heading">
    <strong>{{::tableHeader}} in {{::tableUnit}}</strong>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th ng-repeat="key in ::keys">{{::key.description}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="year in ::data">
          <td>{{::year.year}}</td>
          <td ng-repeat="key in ::keys">{{::(100 * year[key.key]) | number:2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
