<div class="panel panel-default" ng-repeat="pollutionType in ::pollutionData">
  <div class="panel-heading">
    <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{::pollutionType.description}}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
    <strong>{{::pollutionType.name}} ({{::pollutionType.unit}})</strong>
  </div>
  <div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>Mode</th>
        <th>Pollutant</th>
        <th ng-repeat="year in ::pollutionType.years">{{year}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="key in pollutionType.modes">
        <th rowspan="5" style="vertical-align: middle;">{{key | capitalizeFirst}}</th>
        <th>PM</th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.pm25Pollution | number:2}}<td>
      </tr>
      <tr>
        <th>NO<sub>x</sub></th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.noxPollution | number:2}}<td>
      </tr>
      <tr>
        <th>NMVOC</th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.nmvocPollution | number:2}}<td>
      </tr>
      <tr>
        <th>SO<sub>x</sub></th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.so2Pollution | number:2}}<td>
      </tr>
      <tr ng-repeat-end>
        <th>Total</th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.total | number:2}}<td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          Total
        </th>
        <td ng-repeat="yearValue in ::pollutionType.total">{{yearValue | number:2}}<td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
