<div class="panel panel-default">
  <div class="panel-heading">
    <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{::pollutionData[0].description}}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
    <strong>Climate change: effect of greenhouse gasses ({{::pollutionData[0].unit}})</strong>
  </div>
  <div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Mode</th>
        <th ng-repeat="year in ::pollutionData[0].years">{{year}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="pollutionType in ::pollutionData">
        <th rowspan="{{pollutionType.modes.length + 1}}" style="vertical-align: middle;">{{pollutionType.shortDescription | capitalizeFirst}}</th>
        <th>{{pollutionType.modes[0] | capitalizeFirst}}</th>
        <td ng-repeat="yearValue in ::pollutionType[pollutionType.modes[0]]">{{yearValue.climateChange | number:2}}<td>
      </tr>
      <tr ng-repeat="key in pollutionType.modes.slice(1)">
        <th>{{key | capitalizeFirst}}</th>
        <td ng-repeat="yearValue in ::pollutionType[key]">{{yearValue.climateChange | number:2}}<td>
      </tr>
      <tr ng-repeat-end>
        <th>Total</th>
        <td ng-repeat="yearValue in ::pollutionType.total">{{yearValue | number:2}}<td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          Total
        </th>
        <td ng-repeat="yearValue in ::totalClimateChange">{{yearValue | number:2}}<td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
