<div class="panel panel-default">
  <div class="panel-heading">
    <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{::externalityData.description}}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </button>
    <strong>{{::externalityData.name}} ({{::externalityData.unit}})</strong>
  </div>
  <div class="panel-body">
  <table class="table">
    <thead>
      <tr>
        <th>Mode / Type</th>
        <th ng-repeat="year in ::externalityData.years">{{year}}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="key in ::externalityData.modes">
        <th>{{externalityData.modesLabel[$index] | capitalizeFirst}}</th>
        <td ng-repeat="yearValue in ::externalityData[key]">{{yearValue[externalityKey] | number:2}}<td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>
          Total
        </th>
        <td ng-repeat="yearValue in ::externalityData.total">{{yearValue | number:2}}<td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
