<div>
  <h2>What’s HIGH-TOOL?</h2>
  <p>
    The HIGH-TOOL model is a high-level tool for the strategic assessment of
    transport policy measures in terms of economic, environmental and social
    impacts. It creates policy-oriented communicative records of assessment results,
    with tables, graphics and maps, to be used in reports and high-level
    discussion groups and negotiations.
  </p>
</div>
<div>
<h2>Getting Started in HIGH-TOOL</h2>
  <p>The fastest way to use the HIGH-TOOL model is defining and running a
    <a ui-sref="authenticated.packageEditor.defineSingleTPM">
      Predefined Transport Policy Measure in Baseline framework conditions
    </a>
  </p>
</div>
