<div>
  <div class="row">
    <h2>HIGH-TOOL Update servers</h2>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <button class="btn btn-default" ng-click="addServer()">Add a server</button>
  </div>
  <div class="row">
    <alert ng-hide="serverList.length">No update servers registered</alert>
    <table class="table" ng-show="serverList.length">
      <thead>
        <th>Host</th>
        <th>Port</th>
        <th>Description</th>
        <th style="width: 120px" ng-show="isAdmin">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="server in serverList">
          <td>{{server.host}}</th>
          <td>{{server.port}}</th>
          <td>{{server.description}}</th>
          <td>
            <div  class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Update" aria-label="Update" ng-disabled="module.version >= module.version " ng-click="changePassword($index)">
                <span class="glyphicon glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
