<nav>
  <div class="center-block text-center">
    <h3>
      <span ng-show="packageId === 'new'">Define a new Combined TPM package</span>
      <span ng-hide="packageId === 'new'">Edit the combined TPM package ({{packageId}}): {{packageLabel}}</span>
    </h3>
  </div>
  <div class="center-block text-center">
    <button class="btn btn-default" ng-click="savePackage(false)">Save</button>
    <button class="btn btn-default" ng-hide="packageId === 'new'" ng-click="savePackage(true)">Save as a new package</button>
  </div>
</nav>
<uib-tabset>
  <uib-tab heading="Policy Selector">
    <tpm-description ng-repeat="nodeIndex in schema.adjList[0]" ng-model="selectedTPMs[$index]" ng-change="updatedValue(nodeIndex, selectedTPMs[$index])" schema-object="schema.nodeAttributes[nodeIndex]">
    </tpm-description>
  </uib-tab>
  <uib-tab heading="Lever Editor">
    <uib-alert class="alert-info" ng-hide="selectedTPMList.length">You haven't selected any TPM yet.</uib-alert>
    <uib-alert class="alert-info" ng-show="selectedTPMList.length && !minimalSchema.length">The selected TPMs do not have associated levers.</uib-alert>
    <div class="table-responsive" ng-show="selectedTPMList.length && minimalSchema.length">
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Start year</th>
            <th colspan="5">
              Select value
            </th>
            <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
            <th>
              Unit
            </th>
            <th>
              Reset
            </th>
            <th>
              Time
            </th>
            <th>
              Map
            </th>
          </tr>
        </thead>
        <tbody>
          <tr tpm-row ng-repeat="item in minimalSchema | orderBy :'label'"
                      schema-object="item"
                      ng-model="item.values"
                      hide-time="{{::hideTime(item)}}"
                      hide-spatial="{{::hideSpatial(item)}}">
          </tr>
        </tbody>
      </table>
    </div>
  </ui-tab>
</uib-tabset>
