<div style="text-align: center; margin-bottom: 15px;">
  <nav>
    <h4 style="font-weight: bold;">Define a custom Transport Policy Measure (TPM)</h4>
    <ul class="pagination family-pagination">
      <li><a style="cursor: pointer;" aria-label="Previous" ng-click="setPreviousActiveFamily()"><span aria-hidden="true">&laquo;</span></a></li>
      <li ng-repeat="level1Id in ::schema.adjList[0]" ng-click="setActiveFamily($index)"  ng-class="{active: (activeFamily === $index)}"><a style="cursor: pointer;">{{::schema.nodeAttributes[level1Id].shortLabel}}</a></li>
      <li><a style="cursor: pointer;" aria-label="Next" ng-click="setNextActiveFamily()"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
</div>
<div class="row" style="text-align: center; margin-bottom: 15px;">
  <button class="btn btn-default" ng-hide="isNew" ng-click="save(false)">Save</button>
  <button class="btn btn-default" ng-click="save(true)">Save as a new package</button>
</div>
<div ng-repeat="level1Id in ::schema.adjList[0]" ng-show="activeFamily === $index" style="width: 100%;">
  <alert ng-hide="schema.adjList[level1Id].length">No policy levers available for module {{::schema.nodeAttributes[level1Id].shortLabel}}</alert>
  <div class="panel panel-default" ng-show="schema.adjList[level1Id].length && !$last">
    <div class="panel-heading">
      <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" popover="{{::schema.nodeAttributes[level2Id].description}}" popover-title="{{::schema.nodeAttributes[level2Id].shortLabel}}">
        <span class="glyphicon glyphicon-question-sign"></span>
      </button>
      <strong>{{::schema.nodeAttributes[level1Id].shortLabel}}</strong>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead ng-hide="activeFamily === schema.adjList[0].length - 1">
          <tr>
            <th>Use</th>
            <th>Variable</th>
            <th>Start year</th>
            <th colspan="5">
              Select value
            </th>
            <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
            <th>
              Unit
            </th>
            <th>
              Reset
            </th>
            <th>
              Time
            </th>
            <th>
              Map
            </th>
          </tr>
        </thead>
        <tbody>
          <tr tpm-row ng-repeat="level2Id in ::schema.adjList[level1Id] | orderBy:orderByLabel"
                      schema-object="::schema.nodeAttributes[level2Id]"
                      allow-select="true"
                      hide-time="{{::hideTime(schema.nodeAttributes[level2Id])}}"
                      hide-spatial="{{::hideSpatial(schema.nodeAttributes[level2Id])}}"
                      ng-model="package.values[level2Id]">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div ng-show="$last">
    <leverless-tpm-list
      full-schema="schema"
      adjacency-list="schema.adjList[level1Id]"
      ng-model="package.values">
    </leverless-tpm-list>
  </div>
</div>
