<div>
  <div class="row">
    <h2>Database administration</h2>
    <p>The HIGH-TOOL Models save the data in HIGH-TOOL's Data Stock. Here 
    you can manage your schemas.</p>
    <p>Schemas are the database object that wrap the inputs, outputs and
    parameters of the model.</p>
  </div>
  <div class="row">
    <h3>Your Schemas</h3>
    <p>Quota: {{userSchemas.length}} / {{userQuota}}.</p>
    <button class="btn btn-default" ng-click="addOwnSchema()">Create Schema</button>
    <alert ng-hide="userSchemas.length" type="info" style="margin-top: 15px;">Please, create an schema.</alert>
    <table ng-show="userSchemas.length" class="table">
      <thead>
        <th style="width: 40px">Id</th>
        <th>Schema Alias</th>
        <th>Status</th>
        <th style="width: 120px">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="schema in userSchemas">
          <th>{{schema.id}}</th>
          <td><input type="text" style="display: inline-block; width: 100%; border: none;" ng-change="edited($index, 'userSchemas')" ng-model="schema.alias" ng-model-options="{ updateOn: 'blur' }"></td>
          <td>{{schema.status}}</td>
          <td>
            <div ng-hide="schema.id === 'new'" class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Save changes" aria-label="Save Changes" ng-disabled="!schema.edited" ng-click="updateSchema($index)">
                <span class="glyphicon glyphicon-floppy-save"></span>
              </button>
              <button class="btn btn-default" title="Delete Schema" aria-label="Delete user" ng-hide="schema.status === 'Not created'" ng-click="deleteSchema($index)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
            <div ng-show="schema.id === 'new'" class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Create schema" aria-label="Create schema" ng-click="createSchema($index)">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button class="btn btn-default" title="Create schema" aria-label="Create schema" ng-click="deleteSchema($index)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<div class="row" ng-show="isAdmin">
    <h3>All Schemas</h3>
    <table class="table">
      <thead>
        <th style="width: 40px">Id</th>
        <th>Schema Alias</th>
        <th>Status</th>
        <th>Owner</th>
        <th style="width: 120px">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="schema in allSchemas">
          <th>{{schema.id}}</th>
          <td>{{schema.alias}}></td>
          <td>{{schema.status}}</td>
          <td>{{schema.owner}}</td>
          <td>
            <div class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Delete Schema" aria-label="Delete user" ng-click="deleteSchema($index)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
</div>
