<div style="text-align: center">
  <h3>Edit the package {{packageData.label}}</h3>
</div>
<div class="row" style="text-align: center; margin-bottom: 15px;">
  <button class="btn btn-default" ng-click="savePackage(null, false)">Save</button>
  <button class="btn btn-default" ng-click="savePackage(null, true)">Save as a new package</button>
</div>
<div class="row">
  <uib-tabset>
    <uib-tab heading="Metadata">
      <h3>Edit the package metadata</h3>
      <div class="form-group col-md-6 col-lg-6">
        <label for="filename">Filename:</label>
        <input type="text" class="form-control" id="filename" ng-model="packageData.label">
      </div>
      <div class="form-group col-md-6 col-lg-6">
        <label for="headline">Headline:</label>
        <input type="text" class="form-control" id="headline" ng-model="packageData.headline">
      </div>
      <div class="form-group col-md-12 col-lg-12">
        <label for="abstract">Abstract:</label>
        <textarea style="width: 100%; height: 350px;" ui-tinymce="tinyMCEOptions" id="abstract" ng-model="packageData.abstract"></textarea>
      </div>
    </uib-tab>
    <uib-tab heading="Policy levers">
      <div class="panel panel-default"
        ng-hide="schema.adjList[0].length">
        <div class="panel-heading">
          <button style="border: none; background-color: transparent;" uib-popover-trigger="mouseenter" uib-popover-placement="right" uib-popover="{{::schema.nodeAttributes[level2Id].description}}" uib-popover-title="{{::schema.nodeAttributes[level2Id].shortLabel}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
          <strong>{{::schema.nodeAttributes[0].label}}</strong>
        </div>
        <div class="panel-body">
          This TPM does not have associated levers.
        </div>
      </div>
      <div class="panel panel-default" ng-show="schema.adjList[0].length">
        <div class="panel-heading">
          <button style="border: none; background-color: transparent;" uib-popover-trigger="mouseenter" uib-popover="{{::schema.nodeAttributes[group.indexTPM].description}}" uib-popover-title="{{::schema.nodeAttributes[group.indexTPM].label}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
          <strong>{{::schema.nodeAttributes[0].label}}</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Variable</th>
                <th>Start year</th>
                <th colspan="5">
                  Select value
                </th>
                <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
                <th>
                  Unit
                </th>
                <th>
                  Reset
                </th>
                <th>
                  Time
                </th>
                <th>
                  Map
                </th>
              </tr>
            </thead>
            <tbody>
              <tr tpm-row ng-repeat="level2Id in ::schema.adjList[0]"
                          schema-object="::schema.nodeAttributes[level2Id]"
                          ng-model="schema.nodeAttributes[level2Id].values"
                          hide-time="{{::hideTime(schema.nodeAttributes[level2Id])}}"
                          hide-spatial="{{::hideSpatial(schema.nodeAttributes[level2Id])}}">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
