<div style="text-align: center">
  <h3>Expert mode for run <emph>{{runInfo.label}}</emph> ({{runInfo.id}})</h3>
  {{runInfo.step}} - {{(runInfo.paused ? 'Paused' : 'In queue')}}
</div>
<uib-tabset>
  <uib-tab heading="Edit tables">
    <div class="col-md-12">
      <h4>Option:</h4>
      <file-upload-button ng-model="files" accept=".csv" text-content="Set a upload queue"></file-upload-button>
      <button class="btn btn-default" ng-click="goToCompleteOutput()">
        Go to Run definition
      </button>
      <button class="btn btn-default" ng-click="togglePause()">
        {{(runInfo.paused ? 'Continue' : 'Pause')}}
      </button>
      <button class="btn btn-default" ng-show="files.length" ng-click="uploadAllTablesInQueue(files)">
        Upload all valid tables
      </button>
      <uib-alert ng-show="runInfo.step !== 'EXPERT_MODE'" class="alert alert-warning" style="margin-top: 10px; margin-bottom: 10px;">
        <strong>CAUTION:</strong> A table modified outside Expert Mode without having paused the run may result in undefined behaviour or compromise data consistency.
      </uib-alert>
      <h5>Upload queue:</h5>
      <div class="alert alert-info" ng-hide="files.length">No files to upload</div>
      <div ng-repeat="file in files" ng-switch="file.status">
        <div ng-switch-when="error">
          <uib-alert class="alert alert-danger" close="closeUpload(files, $index)"><strong>Error in {{file.name}}:</strong> {{file.error.message}}</uib-alert>
        </div>
        <div ng-switch-when="loading">
          <uib-alert class="alert alert-info" close="closeUpload(files, $index)"><strong>{{file.name}}:</strong> Preparing to upload</uib-alert>
        </div>
        <div ng-switch-when="loaded">
          <uib-alert class="alert alert-info" close="closeUpload(files, $index)">
            <strong>{{file.name}}:</strong> Ready to upload
            <div style="float: right;">
              <button style="border: none;  background-color: transparent;" title="Upload this file" type="button" ng-click="uploadTable(files, $index)">
                <span class="glyphicon glyphicon-upload"></span>
              </button>
            </div>
          </uib-alert>
        </div>
        <div ng-switch-when="uploading">
          <uib-alert class="alert alert-info"><strong>{{file.name}}:</strong>
            <div style="float: right;">
              <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
          </uib-alert>
        </div>
        <div ng-switch-when="uploaded">
          <uib-alert class="alert alert-success" close="closeUpload(files, $index)"><strong>{{file.name}}:</strong> Done.</uib-alert>
        </div>
      </div>
     </div>
    </div>
    <div class="col-md-12">
      <h4>Search options</h4>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Id</span>
          <input type="text" class="form-control" placeholder="Search by variable Id" aria-label="Id of the variable" ng-model="search.id">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Table</span>
          <input type="text" class="form-control" placeholder="Search by table Id" aria-label="Table that contains the variable" ng-model="search.table_id">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon">Description</span>
          <input type="text" class="form-control" placeholder="Search by description" aria-label="Description of the variable" ng-model="search.description">
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-top: 15px;">
      <uib-tabset>
        <uib-tab ng-repeat="group in tables" heading="{{group.name}}">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Table</th>
                <th>Description</th>
                <th style="text-align: center;">Download</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="variable in group.variables | filter:search">
                <td>{{variable.id}}</td>
                <td>{{variable.table_id}}</td>
                <td>{{variable.description}}</td>
                <td style="text-align: center;">
                  <button style="border: none;  background-color: transparent;" type="button" ng-click="downloadTable(variable.table_id, $event)">
                    <span class="glyphicon glyphicon-download"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </uib-tab>
      </uib-tabset>
    </div>
  </uib-tab>
  <uib-tab heading="Edit Road Network">
    <hypernetwork class="row" schema-id="{{runInfo.id}}" mode-id="1"></hypernetwork>
  </uib-tab>
  <uib-tab heading="Edit Rail Network">
    <hypernetwork class="row" schema-id="{{runInfo.id}}" mode-id="2"></hypernetwork>
  </uib-tab>
</uib-tabset>
