<div style="text-align: center">
  <h3>Export table contents</h3>
</div>
<div class="row">
  <h4>Select database schema:</h4>
  <div class="col-md-12">
    <div class="input-group">
     <select class="form-control" ng-model="schemata.selected"
       ng-options="schema.description for schema in schemata.available track by schema.id">
     </select>
   </div>
 </div>
</div>
<div class="row">
  <h4>Search options</h4>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Id</span>
      <input type="text" class="form-control" placeholder="Search by variable Id" aria-label="Id of the variable" ng-model="search.id">
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Table</span>
      <input type="text" class="form-control" placeholder="Search by table Id" aria-label="Table that contains the variable" ng-model="search.table_id">
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Description</span>
      <input type="text" class="form-control" placeholder="Search by description" aria-label="Description of the variable" ng-model="search.description">
    </div>
  </div>
</div>
<div class="row" style="margin-top: 15px;">
  <uib-tabset>
    <uib-tab ng-repeat="group in tables" heading="{{group.name}}">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Table</th>
            <th>Description</th>
            <th style="text-align: center;">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="variable in group.variables | filter:search">
            <td>{{variable.id}}</td>
            <td>{{variable.table_id}}</td>
            <td>{{variable.description}}</td>
            <td style="text-align: center;">
              <button style="border: none;  background-color: transparent;" type="button" ng-click="downloadTable(variable.table_id, $event)">
                <span class="glyphicon glyphicon-download"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </uib-tab>
  </uib-tabset>
</div>
