<div>
  <h2>Getting Started in HIGH-TOOL</h2>
  <p>
    The easier way to use HIGH-TOOL models is just to run a
    <a ui-sref="authenticated.run">Predefined Transport Policy Measure in
      Baseline framework conditions</a>
  </p>
  <p>
    To run a full customized scenario, first framework conditions and
    transport policy measures need to be defined.
  </p>
</div>
