<div class="container">
  <form class="form-signin">
    <alert ng-repeat="alert in alerts" type="danger" close="closeAlert($index)">{{alert}}</alert>
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ng-model="email" type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="password" type="password" name="inputPassword" class="form-control" placeholder="Password" required>
    <button ng-click="submitLogin()" class="btn btn-lg btn-custom btn-block" type="submit">Sign in</button>
  </form>
</div>
