<div>
  <div class="row">
    <h2>Installed HIGH-TOOL Modules</h2>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <th>Module</th>
        <th>Installed version</th>
        <th>Master version</th>
        <th style="width: 120px" ng-show="isAdmin">Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="module in modulesList">
          <td>{{module.application}}</th>
          <td>{{module.installedVersion}}</th>
          <td>{{module.masterVersion}}</th>
          <td ng-show="isAdmin">
            <div  class="btn-group btn-group-sm">
              <button class="btn btn-default" title="Update" aria-label="Update" ng-disabled="disableUpdate(module)" ng-click="updateModule(module)">
                <span class="glyphicon glyphicon glyphicon-refresh"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-show="messages.length">
    <h2>Server responses:</h2>
    <uib-alert ng-repeat="msg in messages" type="{{msg.type}}" close="closeMsg($index)"><strong>{{msg.title}}:</strong>{{msg.body}}</uib-alert>
  </div>
</div>
