<div class="col-md-12">
  <h2>Edit your data</h2>
  <form role="form" class="col-md-12" ng-submit="editData()">
    <div class="form-group col-md-6 col-lg-6">
      <label for="database">E-mail:</label>
      <input type="email" class="form-control" id="email" ng-model="user.email" required>
    </div>
    <div class="form-group  col-md-6">
      <label for="baseSchema">Name:</label>
      <input type="text" class="form-control" id="name" ng-model="user.name" required>
    </div>
   <div class="container">
     <input type="submit" class="btn btn-default"></input>
   </div>
  </form>
</div>
<div class="col-md-12">
  <h2>Change your password</h2>
  <form role="form" class="col-md-12" ng-submit="newPassword()">
   <div class="form-group col-md-6 col-sm-6">
     <label for="host">Password:</label>
     <input type="password" class="form-control" id="password" ng-model="password1" required>
   </div>
   <div class="form-group col-md-6 col-sm-6">
     <label for="host">Confirm Password:</label>
     <input type="password" class="form-control" id="confirmPassword" ng-model="password2" required>
   </div>
   <div class="container">
     <input type="submit" class="btn btn-default"></input>
   </div>
  </form>
</div>
<div class="col-md-12" style="padding-top: 15px;">
  <uib-alert class="col-md-12" ng-repeat="alert in alerts" close="closeAlert($index)" type="{{alert.type}}">{{alert.msg}}</uib-alert>
</div>
