<div style="text-align: center; margin-bottom: 15px;">
  <nav>
    <h4 style="font-weight: bold;">Framework conditions package: "{{::headline}}"</h4>
    <ul class="pagination family-pagination">
      <li><a style="cursor: pointer;" aria-label="Previous" ng-click="setPreviousActiveFamily()"><span aria-hidden="true">&laquo;</span></a></li>
      <li ng-repeat="level1Id in ::schema.adjList[0]" ng-click="setActiveFamily($index)"  ng-class="{active: (activeFamily === $index)}"><a style="cursor: pointer;">{{::schema.nodeAttributes[level1Id].label}} <span class="sr-only">(current)</span></a></li>
      <li><a style="cursor: pointer;" aria-label="Next" ng-click="setNextActiveFamily()"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
</div>
<div ng-repeat="level1Id in ::schema.adjList[0]" ng-show="activeFamily === $index" style="width: 100%">
  <uib-tabset>
    <uib-tab heading="Description">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>User notes on "{{::schema.nodeAttributes[level1Id].label}}"</strong></div>
        <div class="panel-body">
          <textarea style="width: 100%; height: 350px;" ui-tinymce="tinyMCEOptions" ng-model="package.values[level1Id].userNotes"></textarea>
        </div>
      </div>
    </uib-tab>
    <uib-tab ng-repeat="level2Id in ::schema.adjList[level1Id]" heading="{{::schema.nodeAttributes[level2Id].label}}">
      <div class="panel panel-default table-responsive">
        <div class="panel-heading"><strong>Values</strong></div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>World region</th>
                <th colspan="5">
                  Select 2050 value
                </th>
                <th>
                  HT Baseline
                </th>
                <th>
                  Unit
                </th>
                <th>
                  Time
                </th>
                <th>
                  Map
                </th>
              </tr>
            </thead>
            <tbody>
              <tr policy-row ng-repeat="level3Id in ::schema.adjList[level2Id]" schema-object="::schema.nodeAttributes[level3Id]"
                            policy-value="package.values[level3Id].terminalValue"
                            show-spatial-editor="showD3MapEditor('lg', level3Id, schema.nodeAttributes[level3Id], false)"
                            show-time-editor="showD3GraphEditor('lg', level3Id, schema.nodeAttributes[level3Id])"
                            show-map-icon="schema.nodeAttributes[level3Id].shortLabel === 'EU28'"
                            >
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
