<div style="text-align: center; margin-bottom: 15px;">
  <nav>
    <h4 style="font-weight: bold;">Define a Single Transport Policy Measure (TPM)</h4>

    <ul class="pagination family-pagination">
      <li><a style="cursor: pointer;" aria-label="Previous" ng-click="setPreviousActiveFamily()"><span aria-hidden="true">&laquo;</span></a></li>
      <li ng-repeat="level1Id in ::schema.adjList[0]" ng-click="setActiveFamily($index)"  ng-class="{active: (activeFamily === $index)}"><a style="cursor: pointer;">{{::schema.nodeAttributes[level1Id].shortLabel}} <span class="sr-only">(current)</span></a></li>
      <li><a style="cursor: pointer;" aria-label="Next" ng-click="setNextActiveFamily()"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
</div>
<div ng-repeat="level1Id in ::schema.adjList[0]" ng-show="activeFamily === $index" style="width: 100%;">
  <div  class="panel panel-default"
        ng-repeat="level2Id in ::schema.adjList[level1Id] | orderBy:orderFunction">
    <div  class="panel-heading" style="cursor: pointer;"
          ng-click="showDescription[schema.nodeAttributes[level2Id].uuid] = !showDescription[schema.nodeAttributes[level2Id].uuid]">
      <span class="glyphicon glyphicon-question-sign" ng-class="{'glyphicon glyphicon-chevron-up' : showDescription[schema.nodeAttributes[level2Id].uuid], 'glyphicon glyphicon-chevron-down' : !showDescription[schema.nodeAttributes[level2Id].uuid]}"></span>
      <strong>{{::schema.nodeAttributes[level2Id].label}}</strong>
      <button style="border: none;  background-color: transparent; float:right; color: #E20020; font-weight: bold;" type="button" ng-click="saveTPM(level2Id)" title="Press to save this TPM">
        <span class="glyphicon glyphicon-floppy-save"></span> Save this TPM
      </button>
    </div>
    <div class="panel-body">
      {{::schema.nodeAttributes[level2Id].description}}
    </div>
    <div class="panel-body" ng-hide="schema.adjList[level2Id].length">
      <strong>This TPM does not have associated levers.</strong>
    </div>
    <div class="table-responsive" ng-show="showDescription[schema.nodeAttributes[level2Id].uuid] && schema.adjList[level2Id].length">
      <table class="table">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Start year</th>
            <th colspan="5">
              Select value
            </th>
            <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
            <th>
              Unit
            </th>
            <th>
              Reset
            </th>
            <th>
              Time
            </th>
            <th>
              Map
            </th>
          </tr>
        </thead>
        <tbody>
          <tr tpm-row ng-repeat="level3Id in ::schema.adjList[level2Id]"
                      schema-object="::schema.nodeAttributes[level3Id]"
                      ng-model="package.values[level3Id]"
                      hide-time="{{::hideTime(schema.nodeAttributes[level3Id])}}"
                      hide-spatial="{{::hideSpatial(schema.nodeAttributes[level3Id])}}">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
