<div style="text-align: center">
  <h3>EU Reference Scenario</h3>
</div>
<div class="row">
  <uib-tabset>
    <uib-tab heading="Demography">
      <div id="populationByGender">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Projected life expectancy, migrations and fertility</strong>
          </div>
          <ul class="list-group">
            <li ng-repeat="country in ::DEMAssumptions | orderBy:'country'" class="table-responsive list-group-item">
              <div ng-click="toggleViewEuropopAss[$index] = !toggleViewEuropopAss[$index]">
                <button ng-show="!!toggleViewEuropopAss[$index]" style="border: none;  background-color: transparent;" type="button" ng-click="toggleCountriesPop()">
                  <span class="glyphicon glyphicon-menu-down"></span>
                </button>
                <button ng-hide="toggleViewEuropopAss[$index]" style="border: none;  background-color: transparent;" type="button" ng-click="toggleCountriesPop()">
                  <span class="glyphicon glyphicon-menu-up"></span>
                </button>
                <strong>{{country.country}}</strong>
              </div>
              <table class="table" ng-show="!!toggleViewEuropopAss[$index]">
                <thead>
                  <tr>
                    <th rowspan="2">Year</th>
                    <th colspan="2">Life expectancy</th>
                    <th rowspan="2">
                      <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{DEMParams.i_de_net_migration.description}}" popover-title="{{DEMParams.i_de_net_migration.id}} ({{DEMParams.i_de_net_migration.unit}})">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </button>
                      Net migration
                    </th>
                    <th rowspan="2">
                      <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{DEMParams.i_de_tot_fert_rate.description}}" popover-title="{{DEMParams.i_de_tot_fert_rate.id}} ({{DEMParams.i_de_tot_fert_rate.unit}})">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </button>
                      Fertility
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{DEMParams.i_de_life_men.description}}" popover-title="{{DEMParams.i_de_life_men.id}} ({{DEMParams.i_de_life_men.unit}})">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </button>
                      Male
                    </th>
                    <th>
                      <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" popover-placement="right" uib-popover="{{DEMParams.i_de_life_women.description}}" popover-title="{{DEMParams.i_de_life_women.id}} ({{DEMParams.i_de_life_women.unit}})">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </button>
                      Female
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="value in ::country.values">
                    <td>{{value.year}}</td>
                    <td>{{value.i_de_life_men}}</td>
                    <td>{{value.i_de_life_women}}</td>
                    <td>{{value.i_de_net_migration}}</td>
                    <td>{{value.i_de_tot_fert_rate}}</td>
                  </tr>
                </tbody>
              </table>
            </li>
          </ul>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Economy">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>EU28 + NO + CH average yearly variation from last year tick in Capital Input.</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th ng-show="ECRAssumptions.capital.length">Average yearly variation</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="year in ECRAssumptions.capital">
                <td>{{year[0]}}</td>
                <td ng-show="ECRAssumptions.capital.length">{{ECRAssumptions.capital[$index][2]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default" ng-show="Math.max(ECRAssumptions.inv_infrastructure.length, ECRAssumptions.inv_cap.length, ECRAssumptions.inv_rtd.length) > 0">
        <div class="panel-heading">
          Investments into fixed capital formation, infrastructure and RTD.
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Year</th>
                <th colspan="3">Investments in</th>
              </tr>
              <tr>
                <th>Fixed capital</th>
                <th>Infrastructures</th>
                <th>RTD</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="year in ECRAssumptions.capital">
                <td>{{year[0]}}</td>
                <td>{{ECRAssumptions.inv_infrastructure[$index][2]}}</td>
                <td>{{ECRAssumptions.inv_cap[$index][2]}}</td>
                <td>{{ECRAssumptions.inv_rtd[$index][2]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
