<div style="text-align: center">
  <h3>Results of a HIGH-TOOL run</h3>
  <a style="cursor: pointer;" ng-hide="downloading" ng-click="downloadXLS()"><strong>Download Policy Assessment Report</strong></a>
  <uib-alert ng-show="downloading" type="info"><span style="margin-right : 15px;">Generating XLSX report</span> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></uib-alert>
</div>
<div ng-show="activeFamily === 0" style="width: 100%">
</div>
<div ng-show="activeFamily === 1" style="width: 100%">
</div>
<div class="row">
  <uib-tabset>
    <uib-tab heading="Simulated Run">
      <div class="panel panel-default" ng-show="isCombined">
        <uib-alert ng-hide="minimalSchema.adjList[1].length">Baseline assumptions</uib-alert>
        <div class="panel-heading">
          <strong>Selected TPMs</strong>
        </div>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="TPMIndex in minimalSchema.adjList[1]">
            {{minimalSchema.nodeAttributes[TPMIndex].label}}
          </li>
        </ul>
      </div>
      <div class="panel panel-default" ng-show="isCombined">
        <div class="panel-heading">
          <strong>Lever List</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Policy</th>
                <th>Start year</th>
                <th>
                  Min
                </th>
                <th colspan="2">
                  Max
                </th>
                <th>
                  User's value
                </th>
                <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
                <th>
                  Unit
                </th>
                <th>
                  Time
                </th>
                <th>
                  Map
                </th>
              </tr>
            </thead>
            <tbody>
              <tr tpm-row ng-repeat="leverIndex in minimalSchema.adjList[2]  | orderBy:orderByLabelMin"
                          schema-object="::minimalSchema.nodeAttributes[leverIndex]"
                          view-only="true"
                          ng-model="minimalSchema.nodeAttributes[leverIndex].values"
                          hide-time="{{::hideTime(minimalSchema.nodeAttributes[leverIndex])}}"
                          hide-spatial="{{::hideSpatial(minimalSchema.nodeAttributes[leverIndex])}}">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <uib-alert ng-hide="isCombined || schema.rootNodes.length">Baseline assumptions</uib-alert>
      <div ng-hide="isCombined" ng-repeat="group in schema.rootNodes">
        <div class="panel panel-default" ng-hide="schema.nodeAttributes[group.localId].uuid === 'CUSTOMTPM_NOLEVER'">
          <div class="panel-heading">
            <button style="border: none; background-color: transparent;" popover-trigger="mouseenter" uib-popover-html="schema.nodeAttributes[group.indexTPM].description" popover-title="schema.nodeAttributes[group.indexTPM].label">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <strong>{{::schema.nodeAttributes[group.localId].label}}</strong>
          </div>
          <div class="table-responsive" ng-show="schema.adjList[group.localId].length">
            <table class="table">
              <thead>
                <tr>
                  <th>Policy</th>
                  <th>Start year</th>
                  <th>
                    Min
                  </th>
                  <th colspan="2">
                    Max
                  </th>
                  <th>
                    User's value
                  </th>
                  <th style="font-size: 0.8em;"><span style="display: inline-block; width: 33%; text-align: left;">-20%</span><span style="display: inline-block; width: 33%;  text-align: center;">0</span><span style="display: inline-block; width: 33%; text-align: right;">+20%</span></th>
                  <th>
                    Unit
                  </th>
                  <th>
                    Time
                  </th>
                  <th>
                    Map
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr tpm-row ng-repeat="level4Id in ::schema.adjList[group.localId] | orderBy:orderByLabel"
                            schema-object="::schema.nodeAttributes[level4Id]"
                            view-only="true"
                            ng-model="schema.nodeAttributes[level4Id].values"
                            hide-time="{{::hideTime(schema.nodeAttributes[level4Id])}}"
                            hide-spatial="{{::hideSpatial(schema.nodeAttributes[level4Id])}}">
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <leverless-tpm-list ng-show="schema.nodeAttributes[group.localId].uuid === 'CUSTOMTPM_NOLEVER'"
            full-schema="schema"
            adjacency-list="schema.adjList[group.localId]"
            view-only="true"
            ng-model="schema.nodeAttributes">
          </leverless-tpm-list>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Externalities">
      <externality-air-pollution run-id="{{runId}}"></externality-air-pollution>
      <externality-climate-change run-id="{{runId}}"></externality-climate-change>
      <externality-up-down-streams run-id="{{runId}}"></externality-up-down-streams>
      <externality-marginal-infrastructure run-id="{{runId}}"></externality-marginal-infrastructure>
      <externality-accidents run-id="{{runId}}"></externality-accidents>
    </uib-tab>
    <uib-tab heading="Costs">
      <generalized-costs-passenger run-id="{{runId}}"></generalized-costs-passenger>
      <generalized-costs-freight run-id="{{runId}}"></generalized-costs-freight>
    </uib-tab>
    <uib-tab heading="Demography">
      <uib-alert ng-hide="byGenderPopulation || ageCohortsPopulation || countriesPopulationLabour">No available data for this module</uib-alert>
      <div class="panel panel-default" ng-show="byGenderPopulation">
        <div class="panel-heading">
          <strong>European population by gender (in millions)</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Year</th>
                <th>Male</th>
                <th>Female</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in ::byGenderPopulation">
                <td>{{key}}</td>
                <td>{{value[0] / 1000000 | number}}</td>
                <td>{{value[1] / 1000000 | number}}</td>
                <td>{{value[2] / 1000000 | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default" ng-show="ageCohortsPopulation">
        <div class="panel-heading">
          <strong>European population by age cohort (in millions)</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Year</th>
                <th colspan="{{ageCohortsGroups.length}}">Reference</th>
              </tr>
              <tr>
                <th ng-repeat="group in ::ageCohortsGroups">{{group}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="year in ageCohortsPopulation">
                <td>{{year.year}}</td>
                <td ng-repeat="value in year.population track by $index">{{(value / 1000000) | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-repeat="column in [{key : 'population', title : 'Population'}, {key : 'labour', title : 'Labour force'}]">
        <div class="panel panel-default" ng-show="countriesPopulationLabour">
          <div class="panel-heading">
            <strong>{{column.title}} by country (in millions)</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Year {{firstYear}}</th>
                  <th>Year {{lastYear}}</th>
                  <th>Average annual growth rate</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in ::countriesPopulationLabour">
                  <td>{{row.country}}</td>
                  <td>{{row[column.key][0] / 1000000 | number}}</td>
                  <td>{{row[column.key][row[column.key].length - 1] / 1000000 | number}}</td>
                  <td>{{row.relative[column.key]}}</td>

            </table>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Economy">
      <uib-alert ng-hide="GDPCapitaCountry.length || GVABySectors || GVABySectorsAndContries">No available data for this module</uib-alert>
      <div class="panel panel-default" ng-show="GDPCapitaCountry.length">
        <div class="panel-heading">
          <strong>Evolution of GDP and GDP per capita, per country [{{GDPCapitaCountryFirstYear}} - {{GDPCapitaCountryLastYear}}]</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Country</th>
                <th colspan="2">Average yearly growth (%)</th>
                <th colspan="2">Absolute GDP per capita (EUR {{GDPCapitaCountryFirstYear}})</th>
              </tr>
              <tr>
                <th>GDP</th>
                <th>GDP per capita</th>
                <th>{{GDPCapitaCountryFirstYear}}</th>
                <th>{{GDPCapitaCountryLastYear}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="obj in ::GDPCapitaCountry">
                <td>{{obj.country}}</td>
                <td>{{100 * obj.avgYearAbs | number:2}}</td>
                <td>{{100 * obj.avgYearCapita | number:2}}</td>
                <td>{{obj.values[0].gdp_capita | number:2}}</td>
                <td>{{obj.values[obj.values.length - 1].gdp_capita | number:2}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default" ng-show="GVABySectors">
        <div class="panel-heading">
          <strong>European GVA by sectors</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Year</th>
                <th colspan="8">Sectors</th>
              </tr>
              <tr>
                <th>Primary</th>
                <th>%</th>
                <th>Secondary</th>
                <th>%</th>
                <th>Tertiary</th>
                <th>%</th>
                <th>Total</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in GVABySectors">
                <td>{{key}}</td>
                <td>{{value[0] | number}}</td>
                <td>{{100 * (value[0] / value[3]) | number}}</td>
                <td>{{value[1] | number}}</td>
                <td>{{100 * (value[1] / value[3]) | number}}</td>
                <td>{{value[2] | number}}</td>
                <td>{{100 * (value[2] / value[3]) | number}}</td>
                <td>{{value[3] | number}}</td>
                <td>{{100 | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default" ng-show="GVABySectorsAndContries">
        <div class="panel-heading">
          <strong>GVA by sector and country {{GDPCapitaCountryLastYear}}</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Country</th>
                <th colspan="8">Sectors</th>
              </tr>
              <tr>
                <th>Primary</th>
                <th>%</th>
                <th>Secondary</th>
                <th>%</th>
                <th>Tertiary</th>
                <th>%</th>
                <th>Total</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in ::GVABySectorsAndContries">
                <td>{{value.country}}</td>
                <td>{{value.gva[GDPCapitaCountryLastYear][0] | number}}</td>
                <td>{{100 * (value.gva[GDPCapitaCountryLastYear][0] / value.gva[GDPCapitaCountryLastYear][3]) | number}}</td>
                <td>{{value.gva[GDPCapitaCountryLastYear][1] | number}}</td>
                <td>{{100 * (value.gva[GDPCapitaCountryLastYear][1] / value.gva[GDPCapitaCountryLastYear][3]) | number}}</td>
                <td>{{value.gva[GDPCapitaCountryLastYear][2] | number}}</td>
                <td>{{100 * (value.gva[GDPCapitaCountryLastYear][2] / value.gva[GDPCapitaCountryLastYear][3]) | number}}</td>
                <td>{{value.gva[GDPCapitaCountryLastYear][3] | number}}</td>
                <td>{{100 | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Passenger Demand">
      <uib-alert ng-hide="PADTables.pkm.EU28 || PADTables.vkm.EU28 || PADTables.trips.EU28 || PADTables.pkm.countries || PADTables.vkm.countries || PADTables.trips.countries || PADTables.occupation.length">No available data for this module</uib-alert>
      <div ng-repeat="magnitude in ['pkm', 'vkm', 'trips']">
        <div class="panel panel-default" ng-show="PADTables[magnitude].EU28">
          <div class="panel-heading">
            <strong>Modal split based on {{magnitude}} (in millions)</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2">Year</th>
                  <th ng-repeat="key in ::getKeys(PADTables[magnitude].EU28[0].modes, true)" colspan="2">{{key}}</th>
                </tr>
                <tr>
                  <th ng-repeat-start="key in ::getKeys(PADTables[magnitude].EU28[0].modes)">{{magnitude}}</th>
                  <th ng-repeat-end>%</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(key, value) in ::PADTables[magnitude].EU28">
                  <td>{{value.year}}</td>
                  <td ng-repeat-start="key in ::getKeys(PADTables[magnitude].EU28[0].modes)">{{value.modes[key] / 1000000 | number}}</td>
                  <td ng-repeat-end>{{100 * (value.modes[key] / value.total) | number:2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel panel-default" ng-show="PADTables[magnitude].countries">
          <div class="panel-heading">
            <strong>Modal split based on {{magnitude}} by country (in millions) {{PADLastYear}}</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2">Country</th>
                  <th ng-repeat="key in ::getKeys(PADTables[magnitude].countries[0].values[PADLastYear], true)" colspan="2">{{key}}</th>
                </tr>
                <tr>
                  <th ng-repeat-start="key in ::getKeys(PADTables[magnitude].countries[0].values[PADLastYear])">{{magnitude}}</th>
                  <th ng-repeat-end>%</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="country in ::PADTables[magnitude].countries">
                  <td>{{country.country}}</td>
                  <td ng-repeat-start="key in ::getKeys(PADTables[magnitude].countries[0].values[PADLastYear])">{{country.values[PADLastYear][key] / 1000000 | number}}</th>
                  <td ng-repeat-end>{{100 * (country.values[PADLastYear][key] / country.values[PADLastYear].total) | number:2}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-show="PADTables.occupation.length">
        <div class="panel-heading">
          <strong>Average occupancy rate by mode and country (pkm / vkm)</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Country</th>
                <th ng-repeat="key in ::['Coach',	'Rail',	'Road']">{{key}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="country in ::PADTables.occupation">
                <td>{{country.country}}</td>
                <td ng-repeat="key in ::['coach',	'rail',	'road']">{{country.values[PADLastYear][key] | number : 1}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div ng-repeat="distanceTable in PADTables.distanceBands">
        <div class="panel panel-default" ng-repeat="mode in getKeys(distanceTable.data)">
          <div class="panel-heading">
            <strong>{{mode | capitalizeFirst}} {{distanceTable.unit}} by country, year and distance band (in millions)</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th rowspan="2">Country</th>
                  <th colspan="{{distanceTable.bands.length}}">{{PADFirstYear}}</th>
                  <th colspan="{{distanceTable.bands.length}}">{{PADLastYear}}</th>
                </tr>
                <tr>
                  <th ng-repeat="band in distanceTable.bands">
                    {{band}}
                  </th>
                  <th ng-repeat="band in distanceTable.bands">
                    {{band}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="country in ::orderCountryKeys(distanceTable.data[mode])">
                  <td>{{country}}</td>
                  <td ng-repeat="band in distanceTable.bands">{{distanceTable.data[mode][country][0][$index + 1] / 1000000 | number}}</td>
                  <td ng-repeat="band in distanceTable.bands">{{distanceTable.data[mode][country][distanceTable.data[mode][country].length - 1][$index + 1] / 1000000 | number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Freight Demand">
      <uib-alert ng-hide="FRDEU28tkm.length && FRDCountry">No available data for this module</uib-alert>

      <div class="panel panel-default" ng-show="FRDEU28tkm.length">
        <div class="panel-heading">
          <strong>EU28+2 Modal split based on tkm (in thousands of millions)</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th rowspan="2">Year</th>
                <th ng-repeat="mode in ::FREModes" colspan="2">{{mode}}</th>
              </tr>
              <tr>
                <th ng-repeat-start="mode in ::FREModes">tkm</th>
                <th ng-repeat-end>%</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="year in FRDEU28tkm">
                <td>{{year[0]}}</td>
                <td ng-repeat-start="mode in ::FREModes">{{year[2 * $index + 1] | number}}</td>
                <td ng-repeat-end>{{100 * year[2 * $index + 2] | number:2}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-repeat="key in ::['tkm', 'vkm']" ng-show="FRDCountry">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Modal split based on {{key}} originated in each country {{::FRELastYear}} (in thousands of millions)</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                  <th ng-repeat="mode in ::FREModes" colspan="2">{{mode}}</th>
                </tr>
                <tr>
                  <th ng-repeat-start="mode in ::FREModes">{{key}}</th>
                  <th ng-repeat-end>%</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="country in ::FRDCountry[key]">
                  <td>{{country[0]}}</td>
                  <td ng-repeat-start="mode in ::FREModes">{{country[2 * $index + 1] | number}}</td>
                  <td ng-repeat-end>{{100 * country[2 * $index + 2] | number:2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-show="FRDCountry">
        <div class="panel-heading">
          <strong>Average load factor (tkm / vkm) originated in each country {{::FRELastYear}}</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Country</th>
                <th ng-repeat="mode in ::FREModes">{{mode}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="country in ::FRDCountryLoadFactor">
                <td>{{country[0]}}</td>
                <td ng-repeat="mode in ::FREModes">{{country[$index + 1] | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Vehicle Stock">
      <ves-year-table run-id="{{runId}}" type="fuels"></ves-year-table>
      <ves-country-table run-id="{{runId}}" type="fuels"></ves-country-table>
      <ves-year-table run-id="{{runId}}" type="modes"></ves-year-table>
      <ves-country-table run-id="{{runId}}" type="modes"></ves-country-table>
    </uib-tab>
    <uib-tab heading="Safety">
      <uib-alert ng-hide="SAFInjuryTables.length">No available data for this module</uib-alert>
      <div ng-repeat="table in ::SAFInjuryTables">
        <div class="panel panel-default" ng-show="table.tableContents">
          <div class="panel-heading" ng-switch="table.tableName">
            <strong ng-switch-when="Car">{{SAFInjuriesLastYear}} Road accidents by type and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="Bycicle">{{SAFInjuriesLastYear}} accidents by type and related costs {{table.lastYear}} in mEUR for Bicycle</strong>
            <strong ng-switch-when="2-wheeled Passenger">{{SAFInjuriesLastYear}} 2-Wheeler accidents by type and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="Public Transport">{{SAFInjuriesLastYear}} Public transport accidents by type and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="Rail">{{SAFInjuriesLastYear}} Rail fatalities and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="Air">{{SAFInjuriesLastYear}} Air fatalities and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="IWW">{{SAFInjuriesLastYear}} IWW fatalities and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-when="Short-sea">{{SAFInjuriesLastYear}} Short-sea Shipping fatalities and related costs {{table.lastYear}} in mEUR</strong>
            <strong ng-switch-default>{{SAFInjuriesLastYear}} {{table.tableName}} accidents by type and related costs {{table.lastYear}} in mEUR</strong>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Country</th>
                  <th ng-repeat="key in ::getKeys(table.tableContents[0].values[table.lastYear], true)">{{key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="country in ::table.tableContents">
                  <td>{{country.country}}</td>
                  <td ng-repeat="key in getKeys(table.tableContents[0].values[table.lastYear], false)">{{country.values[table.lastYear][key] | number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab heading="Environment">
      <uib-alert ng-hide="ENVEmissions.length">No available data for this module</uib-alert>
      <div class="panel panel-default" ng-show="ENVEmissions.length">
        <div class="panel-heading">
          <strong>Emissions and fuel consumption by country in year {{ENVEmissionsLastYear}} in tons</strong>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th ng-repeat="key in ::['Country', 'Fuel', 'CO<sub>2</sub>', 'NO<sub>x</sub>', 'Pm', 'SO<sub>2</sub>']"><span ng-bind-html="::key">{{key}}</span></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="country in ::ENVEmissions">
                <td>{{country.country}}</td>
                <td ng-repeat="key in ::['co2', 'fuel', 'nox', 'pm', 'so2']">{{::country.values[ENVEmissionsLastYear][key] | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
