<div style="text-align: center; margin-bottom: 15px;">
  <nav>
    <h4><span style="font-weight: bold;">{{::label}}</span><br/><span style="font-size: 0.9em;">{{::abstract}}</span></h4>
    <ul class="pagination family-pagination">
      <li><a aria-label="Previous" ng-click="setPreviousActiveFamily()"><span aria-hidden="true">&laquo;</span></a></li>
      <li ng-repeat="pagination in ::transvisions.paginations" ng-click="setActiveFamily($index)"  ng-class="{active: (activeFamily === $index)}"><a>{{::pagination.label}} </a></li>
      <li><a aria-label="Next" ng-click="setNextActiveFamily()"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </nav>
</div>
<div ng-repeat="pagination in ::transvisions.paginations" ng-show="activeFamily === $index" style="width: 100%">
  <div ng-repeat="table in ::pagination.tables" class="panel panel-default">
    <div class="panel-heading">{{::table.label}}</div>
    <table class="table">
      <thead>
        <tr>
          <th>Item</th> 
          <th>Unit</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ::table.items">
          <td>{{::item.label}}</td>
          <td>{{::item.unit}}</td>
          <td>{{::item.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
