<div>
  <div class="row">
    <h2>View and manage your model runs</h2>
    <alert ng-hide="::userSchemas.length" type="info" style="margin-top: 15px;">You don't have run any model yet.</alert>
    <div ng-show="::userSchemas.length" class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Alias</th>
            <th>Status</th>
            <th>Step Id</th>
            <th>Step Description</th>
            <th>Run progress</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="schema in userSchemas" ng-class="{'active-run' : (schema.status === 'Active')}">
            <td>{{schema.id}}</td>
            <td>{{schema.label}}</td>
            <td>{{schema.status}}</td>
            <td>
              <select class="form-control"
                ng-disabled="!schema.paused && schema.status === 'Active'"
                ng-options="step.description for step in steps track by step.id"
                ng-model="schema.step"
                ng-change="changeStep(schema.id, schema.step.id, $index, true)">
              </select>
            </td>
            <td>{{schema.description}}</td>
            <td><progress value="{{stepsDict[schema.step.id] + 1}}" max="{{steps.length - 1}}"></progress></td>
            <td>
              <div class="btn-group btn-group-sm">
                <button class="btn btn-default" title="View results" aria-label="View results" ui-sref="authenticated.output({runId : schema.id})">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button class="btn btn-default" title="Download tables from this schema" aria-label="Download tables" ui-sref="authenticated.export.tablesRun({runId : schema.id})">
                  <span class="glyphicon glyphicon-download-alt"></span>
                </button>
                <button class="btn btn-default" title="Edit this schema's tables" aria-label="Edit tables" ui-sref="authenticated.run.expertMode({runId : schema.id})">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-show="schema.paused && schema.step !== 'DONE'" class="btn btn-default" title="Resume" aria-label="Resume this run" ng-click="pauseResume('resume', schema.id, $index, userSchemas)">
                  <span class="glyphicon glyphicon-play"></span>
                </button>
                <button ng-hide="schema.paused || schema.step === 'DONE'" class="btn btn-default" title="Pause" aria-label="Stop this run" ng-click="pauseResume('pause', schema.id, $index, userSchemas)">
                  <span class="glyphicon glyphicon-pause"></span>
                </button>
                <button ng-hide="schema.markedDelete" class="btn btn-default" title="Delete" aria-label="Delete this run" ng-click="deleteRun($index, schema)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button ng-show="schema.markedDelete" class="btn btn-default" title="Cancel delete" aria-label="Cancel delete" ng-click="cancelDelete($index, schema)">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="::otherUserSchemas.length">
      <h2>View and manage other users' runs</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Schema</th>
                <th>Alias</th>
                <th>Owner</th>
                <th>Status</th>
                <th>Step</th>
                <th>Run progress</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="schema in otherUserSchemas" ng-class="{'active-run' : (schema.status === 'Active')}">
                <td>{{schema.id}}</td>
                <td>{{schema.label}}</td>
                <td>{{schema.owner.name}}</td>
                <td>{{schema.status}}</td>
                <td><progress value="{{stepsDict[schema.step.id] + 1}}" max="{{steps.length - 1}}"></progress></td>
                <td>
                  <select class="form-control"
                    ng-disabled="!schema.paused && schema.status === 'Active'"
                    ng-options="step.description for step in steps track by step.id"
                    ng-model="schema.step"
                    ng-change="changeStep(schema.id, schema.step.id, $index, false)">
                  </select>
                </td>
                <td>{{schema.description}}</td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-default" title="View results" aria-label="View results" ui-sref="authenticated.output({runId : schema.id})">
                      <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button class="btn btn-default" title="Download tables from this schema" aria-label="Download tables" ui-sref="authenticated.export.tablesRun({runId : schema.id})">
                      <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                    <button ng-show="schema.paused && schema.step !== 'DONE'" class="btn btn-default" title="Resume" aria-label="Resume this run" ng-click="pauseResume('resume', schema.id, $index, otherUserSchemas)">
                      <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button ng-hide="schema.paused || schema.step === 'DONE'" class="btn btn-default" title="Pause" aria-label="Stop this run" ng-click="pauseResume('pause', schema.id, $index, otherUserSchemas)">
                      <span class="glyphicon glyphicon-pause"></span>
                    </button>
                    <button ng-hide="schema.markedDelete" class="btn btn-default" title="Delete" aria-label="Delete this run" ng-click="deleteRun($index, schema)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-show="schema.markedDelete" class="btn btn-default" title="Cancel delete" aria-label="Cancel delete" ng-click="cancelDelete($index, schema)">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
